html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/p4.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
	font-family: 'Abril Fatface', cursive;
    font-weight: 400;
    font-size: 3rem;
    margin: 20px 0;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 640px;
    background: linear-gradient(0deg, #4e555b 0%, #747d84 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 115px;
    width: 115px;
    background: #000;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 10px;
}

.deck .card.open {
    transform: rotateY(0);
    background: #fff;
	color: #000;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #4c1d78;
	color: #fff;
    font-size: 33px;
}

.deck .card.not-match {
    cursor: default;
    background: #29a28d;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
	font: 'Montserrat', sans-serif;
    width: 600px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}

.stars {
    padding: 0;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #000;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

#final-rating {
    font-size: 80px;
}


#score-popup {
    font: 'Montserrat', sans-serif;
    transform: scale(0.8);
}

.popup_visible #score-popup {
    transform: scale(1);
}

#score-popup button {
    cursor: pointer;
    font-size: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 8px 10px 0 rgba(121, 144, 163, 0.5);
}

#score-popup #play-again {
    color: #fff;
    background-color: #000;
    margin-right: 15px;
}

#score-popup #close-popup {
    background-color: #cccccc;
    color: #8b8b8b;    
}


@media screen and (max-width: 780px) {
    .deck {
        width: 500px;
        min-height: auto;
        margin: 0 20px;
    }

    .deck .card {
        height: 95px;
        width: 95px;
        margin: 10px 0;
    }

    .score-panel {
        width: 450px;
    }
}

@media screen and (max-width: 550px) {
    .deck {
        width: 360px;
    }

    .score-panel {
        width: 300px;
        flex-direction: column;
        text-align: center;
    }

    .score-panel > * {
        margin-bottom: 10px;
    }

    .deck .card {
        height: 60px;
        width: 60px;
    }
}

    #score-popup #final-rating .stars {
        margin: 0;
    }    
}
